@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [x-cloack] {
    display: none !important;
  }

  /* input,
  textarea,
  select {
    all: revert !important;
  } */

  .prose,
  .prose * {
    @apply text-black dark:text-neutral-50;
  }

  /* .prose p {
    @apply text-justify;
  } */

  .grid,
  .prose {
    min-width: unset !important;
    max-width: unset !important;
  }

  .ptd-table td {
    @apply break-words border border-neutral-500 p-2 text-center;
  }

  .input {
    @apply mt-1 block w-full rounded-md border-transparent bg-neutral-100 focus:border-neutral-500 focus:bg-neutral-50 focus:ring-0 dark:bg-neutral-800 dark:focus:bg-neutral-700;
  }

  .submit {
    @apply block w-full rounded-md border-transparent bg-neutral-100 font-bold focus:border-neutral-500 focus:bg-neutral-50 focus:ring-0 dark:bg-neutral-800 dark:focus:bg-neutral-700;
  }
}
